{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div>
        {{ bday }}
        <br>
{#        {% now "jS F Y H:i" %}#}
        <ul>
            {% for beer in beer_list %}
                {#                <p>#}
                {#                {{ forloop }}#}
                {#                </p>#}
                <li>
                    {% comment %}
                    {% if beer.abv > 2 %}
                    {% endcomment %}
                    <a href="{% url 'beer-detail-view' beer.pk %}"> {{ beer }}</a>
                </li>
            {% empty %}
                Lista vacia de cosas
            {% endfor %}
        </ul>
    </div>

{% endblock %}