{% load static %}

<html lang="en">
    <head>
        <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/starter-template.css' %}" rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title></title>
    </head>
    <body>
        {% if request.user.is_authenticated %}
            {% include "navbar.html" %}
        {% endif %}

        <main role="main" class="container">
            <div class="starter-template">
                {% block content %}

                {% endblock %}
            </div>
        </main><!-- /.container -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>